*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* nav */

.navbar {
    width: 100%;
    height: 75px;
    border: 1px solid;
    display: flex;
    justify-content: center;
}
.navbar .nav-section {
    width: 100%;
    height: 75px;
    border: 1px solid;
    display: flex;
    justify-content: center;
}