*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* nav */

.navbar {
    width: 1000px;
    height: 75px;
    border: 1px solid;
}